body { overflow-x: hidden; }

.container-fluid2 {
  background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(about.avif);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

.container-fluid2 h1{
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: white;

}

.container-fluid h4{
  color: rgb(76, 74, 74);
}

.container-fluid2 p{
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 5px;
  text-align: center;
}

.container-fluid h1 {
    text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: rgb(76, 74, 74);
  font-weight: 500;
  font-style: normal;
}

.videobg{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container-fluid3{
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
}

.videobg video{
    width: 100%;
    height: 90vh;
}

.card {
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgb(198, 198, 198);
    transition-duration: 1s;
    height: 500px;
}

.card:hover {
    box-shadow: 1px 1px 10px rgb(52, 52, 52);
}

.card h2 {
  font-family: "Playfair Display", serif;
  color: white;
    font-weight: 400;
    font-style: normal;


}

.card img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}


header strong{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  color: black;
}



header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
