body { overflow-x: hidden; }

.container-fluid2 {
  background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(events.avif);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

.container-fluid2 h1{
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: white;

}

.container-fluid5 h1{
  color: rgb(76, 74, 74);
   text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
}

.container-fluid2 p{
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 5px;
  text-align: center;
}

.container-fluid h1 {
    text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: white;
  font-weight: 500;
  font-style: normal;
}

.container-fluid8{
        font-family: "Playfair Display", serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.container-fluid8 h5{
    font-size: 30px;
    color: black;
}

header strong{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  color: black;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.banner1,
.banner2,
.banner3 {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Playfair Display", serif;
}

.banner1{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(4929.jpg);
}
.banner2{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(10786.jpg);
}
.banner3{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(185.jpg);
}

.carousel h1{
    font-weight: 900;
}

.carousel p{
    padding: 5px;
}

.card {
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgb(198, 198, 198);
    transition-duration: 1s;
    height: 600px;
}

.card:hover {
    box-shadow: 1px 1px 10px rgb(52, 52, 52);
}

.card h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: black;

}

.card img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.card-title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: white;
    font-size: 30px;
}

.videobg{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container-fluid3{
  color: black;
  height: auto;
  width: 100%;
}

.videobg video{
    width: 100%;
    height: 90vh;
}

.card h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}

.container-fluid9 h1 {
       text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: black;
  font-weight: 500;
  font-style: normal;
}

.container2 h1{
    text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}