.card {
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgb(198, 198, 198);
    transition-duration: 1s;
    height: 250px;
}

.card:hover{
    box-shadow: 1px 1px 10px rgb(52, 52, 52);
}


header strong{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
  color: black;
}

.modal-footer button{
    width: 100px;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.banner1,
.banner2,
.banner3 {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Playfair Display", serif;
}

.banner1{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(c3.avif);
}
.banner2{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(c2.avif);
}
.banner3{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(c1.avif);
}

.carousel h1{
    font-weight: 900;
}

.carousel p{
    padding: 5px;
}

.carousel-item button{
    width: 250px;
}

.videobg{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.videobg h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.videobg video{
    width: 100%;
    height: 100%;
}

.container1{
    width: 100%;
    color: black;
    text-align: center;
}

.container1 h1{
    color: rgb(61, 57, 57);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.knowmore{
 text-align: start;
}


.container-fluid5{
    width: 100%;
    height: 80vh;
    background-image: url(family.avif);
    font-family: "Playfair Display", serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    
}

.container-fluid5 h1{
    font-size: 50px;
    margin-left: 40px;
    font-weight: 100;
    color: azure;
}
.container-fluid5 p{
    font-size: 20px;
    margin-left: 40px;
}

.container-fluid3{
    width: 100%;
    height: 30vh;
    font-family: "Playfair Display", serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.container-fluid8{
        font-family: "Playfair Display", serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.container-fluid8 h5{
    font-size: 30px;
    color: black;
}

.videobg h1 {
  animation: fadeOut 1s ease 3s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}