body { overflow-x: hidden; }
.container-fluid2 {
  background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(local.avif);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

.container-fluid2 h1{
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: white;

}

.container-fluid2 p{
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 5px;
  text-align: center;
}

header strong{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  color: black;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.container1 h1{
   text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: black;
  font-weight: 500;
  font-style: normal;
}

.container2 img{
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2{
   text-align: center;
}

.container2 h1 {
text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: black;
  font-weight: 500;
  font-style: normal;
}

.container2 button{
    background-color: goldenrod;
    color: white;
    width: 120px;
    height: 40px;
    font-weight: 600;
}

.container3 h1 {
    text-align: center;
    margin-top: 20px;
   font-family: "Playfair Display", serif;
  color: black;
  font-weight: 500;
  font-style: normal;
}

.container3 img{
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.container3{
   text-align: center;
}

.container3 button{
    background-color: goldenrod;
    color: white;
    width: 120px;
    height: 40px;
    font-weight: 600;
}

.container-fluid3 h1{
    color: rgb(61, 57, 57);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    margin-top: 30px;
}