.container-fluid2 {
  background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.518) ,rgba(0, 0, 0, 0.527)), url(sevices.avif);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

.container-fluid2 h1{
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: white;

}

.container-fluid2 p{
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 5px;
  text-align: center;
}

.card {
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgb(198, 198, 198);
    transition-duration: 1s;
    height: 500px;
    background-color: black;
}

.card:hover {
    box-shadow: 1px 1px 10px rgb(52, 52, 52);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

header strong{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  color: black;
}

.card h2 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    color: white;

}

.card p {
    color: white;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.card {
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgb(198, 198, 198);
    transition-duration: 1s;
    height: 650px;
}

.card:hover {
    box-shadow: 1px 1px 10px rgb(52, 52, 52);
}

.card h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}

.card img {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center;
}

.card-title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: white;
    font-size: 30px;
}

.container1 h1{
    color: rgb(61, 57, 57);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.container2 h1{
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.container2 p{
     color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.container2 {
    background-color: black;
}

.container-fluid7 {
    background-color: black;
}

.container-fluid7 h1 {
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.container-fluid7 p {
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
}